@page "/"
@using UI.Identity;
@attribute [Authorize(Permission.ReadProjects)]


<PageTitle>Project Management Tool</PageTitle>

<h1>Project Management Tool</h1>

<ProjectState>
    <div class="row">
        <div class="col-sm-3">
            <Project></Project>
        </div>
        <div class="col-sm-9">
            <WorkItems></WorkItems>
        </div>
    </div>
</ProjectState>