@page "/"

<PageTitle>Project Management Tool</PageTitle>

<h1>Project Management Tool</h1>

<ProjectState>
    <div class="row">
        <div class="col-sm-2">
            <Project></Project>
        </div>
        <div class="col-sm-10">
            <WorkItems></WorkItems>
        </div>
    </div>
</ProjectState>