@page "/"
@attribute [Authorize(Permission.ReadProjects)]


<PageTitle>Project Management Tool</PageTitle>

<ProjectState>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <Project></Project>
            </div>
            <div class="col-sm-9">
                <ProjectBoard></ProjectBoard>
            </div>
        </div>
    </div>
</ProjectState>