@using Plk.Blazor.DragDrop
@using UI.Components
@using UI.Identity
@attribute [Authorize(Permission.ReadProjects)]

@if (State.Initialised)
{
    <div class="clearfix">
        <h2 class="float-start">@State.SelectedList!.Title</h2>
        <button class="btn btn-primary float-end" @onclick="ShowCreateWorkItemDialog">+</button>
    </div>

    <div class="kanban-board">
        <KanbanColumn Title="Planned" 
                      Items="State.SelectedList.WorkItems.Where(w => w.Stage == 0).ToList()"
                      OnItemDrop="@(item => UpdateWorkItemStage(item, 0))"
                      OnDelete="DeleteWorkItem"
                      OnEdit="ShowEditWorkItemDialog" />
        
        <KanbanColumn Title="In Progress" 
                      Items="State.SelectedList.WorkItems.Where(w => w.Stage == 1).ToList()"
                      OnItemDrop="@(item => UpdateWorkItemStage(item, 1))"
                      OnDelete="DeleteWorkItem"
                      OnEdit="ShowEditWorkItemDialog" />
        
        <KanbanColumn Title="Completed" 
                      Items="State.SelectedList.WorkItems.Where(w => w.Stage == 2).ToList()"
                      OnItemDrop="@(item => UpdateWorkItemStage(item, 2))"
                      OnDelete="DeleteWorkItem"
                      OnEdit="ShowEditWorkItemDialog" />
    </div>

    <WorkItemDialog @ref="_createWorkItemDialog" 
                    Title="New Work Item" 
                    WorkItem="_newWorkItem"
                    OnSave="AddWorkItem" />

    <WorkItemDialog @ref="_editWorkItemDialog"
                    Title="Edit Work Item"
                    WorkItem="_editWorkItem"
                    OnSave="UpdateWorkItem" />
}