<Modal Title="Delete Project" Show="Show" OnClose="OnClose">
    <p>Are you sure you want to delete this project?</p>
    <button class="btn btn-danger" @onclick="HandleDelete">Delete</button>
    <button class="btn btn-secondary" @onclick="OnClose">Cancel</button>
</Modal>