<div class="modal" tabindex="-1" style="display:@(Show ? "block" : "none")">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="btn-close" @onclick="OnClose"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="Project" OnValidSubmit="HandleSubmit">
                    <FluentValidationValidator />

                    <div class="form-group">
                        <label for="title">Title</label>
                        <InputText id="title" @bind-Value="Project.Title" placeholder="Title" class="form-control" />
                        <ValidationMessage For="@(() => Project.Title)" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@SubmitButtonText</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>