<li class="list-group-item @(IsSelected ? "active" : "")" @onclick="OnSelect">
    @Project.Title
    <button class="btn btn-primary float-end" @onclick:stopPropagation="true" @onclick="OnEdit">
        <i class="bi bi-pencil"></i>
    </button>
    <button class="btn btn-danger float-end" @onclick:stopPropagation="true" @onclick="OnDelete">
        <i class="bi bi-trash"></i>
    </button>
</li>