<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeWrapper Permissions="new List<string> { Permission.ReadProjects }">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> My Project
                </NavLink>
            </div>
        </AuthorizeWrapper>
        <AuthorizeWrapper Permissions="new List<string> { Permission.WriteProjects }">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">
                    <span class="oi oi-cog" aria-hidden="true"></span> Settings
                </NavLink>
            </div>
        </AuthorizeWrapper>
        <AuthorizeWrapper Permissions="new List<string> { Permission.ReadRoles }">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="roles" Match="NavLinkMatch.All">
                    <span class="oi oi-people" aria-hidden="true"></span> Roles
                </NavLink>
            </div>
        </AuthorizeWrapper>
        <AuthorizeWrapper Permissions="new List<string> { Permission.ReadUsers }">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> Users
                </NavLink>
            </div>
        </AuthorizeWrapper>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
